
<!-- Landing Page -->

<div id="landingPage">
    <div class="container">
        <div class="row">
            <div class="col text-center d-flex" style="width: 100%;">
                <div class="mx-auto justify-content-xl-center">
                  <span class="wrapper" style="font-family: beloved-sans;font-size: 4.5rem;text-align: center;">
                    <strong>The  </strong>
                  </span>
                  <span class="wrapper" style="font-family: beloved-sans;font-size: 4.5rem;text-align: center;">
                    <strong> W</strong>
                    <button class="A1" alt="..."></button>
                    <strong>iting </strong>
                  </span>
                  <span class="wrapper" style="font-family: beloved-sans;font-size: 4.5rem;text-align: center;">
                    <strong>Pl</strong>
                    <button class="A2" alt="..."></button>
                    <strong>ce</strong>
                  </span>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                      <div>
                        <div class="container">
                          <div class="d-table-cell w-100">
                            <input type="text" name="username" placeholder="Enter Key"
                             style="font-family: 'Comic Sans MS';transform: rotate(-10deg);width: 10rem;height:3rem; border-radius: 10px;text-align: center;border: 2px solid rgb(0,0,0);--bs-primary-rgb: 0,0,0;--bs-secondary-rgb: 0,0,0;"
                             >
                          </div>
                          <div class="d-table-cell align-middle">
                              <button class="narrowImg"
                              id="D2" role="button"></button>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div> -->
    </div>
  </div>
  
  <script>
  $("textarea").each(function () {
  this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
  $(this).css("background-color", "transparent");
  $(this).css("font-family", "Century Gothic");
  $(this).css("border-style", "hidden");
  $(this).css("width", "97%");
  $(this).css("border-bottom", "2px solid rgb(255,255,255)");
  
  }).on("input", function () {
  this.style.height = "auto";
  this.style.height = (this.scrollHeight) + "px";
  $(this).css("color", "rgb(255,255,255)");
  });
  </script>
  
  
  
  